@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}

.top{
	background-color:#4cb050;
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 1;
}

.top .title{
	position: absolute;
	font-size: 22px;
	letter-spacing: 5px;
	color:white;
	font-family: "黑体";
	margin-top: 15px;
	left:43%;
}
.main{
	
	background-color:#fafafa;
	width: 100%;
	height: 1080px;
/*	float: left;*/
}
.main_left{
	float: left;
	background-color:#383e4c;
	width:200px;
	height: 100%;
	position: fixed;
}

.main_left .main_left_class00{
	position: absolute;
	margin-top: 110px;
	margin-left: 43px;
}

.main_left .main_left_class01{
	position: absolute;
	background-color:#4cb050;
	width: 200px;
	height: 40px;
	margin-top: 280px;
	line-height: 40px;
	font-size: 20px;
	letter-spacing: 5px;
	color:white;
	font-family: "黑体";
	text-align:center;
	
	
}
	a{text-decoration:none;color: #fff;}

.main_left .main_left_class02{
	position: absolute;
	width: 200px;
	height: 40px;
	background-color:#4cb050;
	font-size: 20px;
	letter-spacing: 5px;
	color:white;
	font-family: "黑体";
	margin-top: 370px;
	text-align:center;
	line-height: 40px;
	
}

.main_left .main_left_class03{
	position: absolute;
	background-color:#4cb050;
	width: 200px;
	height: 40px;
	margin-top: 460px;
	line-height: 40px;
	font-size: 20px;
	letter-spacing: 5px;
	color:white;
	font-family: "黑体";
	text-align:center;
	
	
}

.main .main_left .main_left_class100 input{
	
	width: 103px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 16px;
	font-family: "黑体";
	text-align: center;
	border: none;
	color:white;
	outline: none;
	background:#5CB85C;
	margin-left: 45px;
	margin-top: 650px;
	
	
}
.main .main_left .main_left_class100 .reset:hover{
	background: #449D44;
}

.main .main_right{
	margin:0;
	width:80%;
	height: 1080px;
	position: relative;
	margin-left:201px;
}

.main .main_right .info{
	width:100%;
	position: absolute;
	background-color:white;
	height: 100px;
	margin-top:70px;
	margin-left: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	color:black;
	line-height: 105px;
}

.main .main_right .info p,.main .main_right .box .function p,.main .main_right .box .form table{
	margin-left: 40px;
}

.main .main_right .box .function{
	position: absolute;
	width:100%;
	background-color:white;
	height: 60px;
	margin-top:190px;
	margin-left: 20px;
	font-size: 20px;
	letter-spacing: 1px;
	color:#4CB050;
	line-height: 60px;
}

.main .main_right .box .form{
	position: absolute;
	width:100%;
	background-color:white;
	height: 800px;
	margin-top:280px;
	margin-left: 20px;
	font-size: 20px;
}

.main .main_right .box .form table,.main .main_right .box .form tr{
	margin-top:30px;
}

.main .main_right .box .form td{
	padding: 15px; 
	text-align: center;
}

.main .main_right .box .form input{
	
	width: 103px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 16px;
	font-family: "黑体";
	text-align: center;
	border: none;
	color:white;
	outline: none;
	background:#4CB050;
	
}
.main .main_right .box .form .form_1 .text{
	width: 200px;
	height:35px;
	line-height: 35px;
	border-radius: 5px;
	font-size: 19px;
	font-family: "黑体";
	text-align: center;
	color:write;
	outline: none;
	background:#4cb050;
	
}

.main .main_right .box .form .sure:hover{
	background: #449D44;
}
.main .main_right .box .form .cancle:hover{
	background: #449D44;
}
.main .main_right .box .form .news h2{
	margin-top:60px;
	text-align:center;
	color:red;
	margin-bottom: 60px;
	
}
.main .main_right .box .form .news td{
	text-align:left;
	margin-left: 60px;
	
}
.main .main_right .box .form .form_1 .info{
	height: 80%;
    width: 80%;
    margin: 100px auto;
    
}

.main .main_right .box .form .form_1 .form_1_table{
	text-align:left;
	
}
.main .main_right .box .form .form_1 .form_1_table caption{
	font-size: 24px;
	font-family: "黑体";
	text-align: center;
	line-height:100px;
}

.main .main_right .box .form .form_1 p{
	font-size: 24px;
	font-family: "黑体";
	text-align: center;
	margin-top: 100px;
}

.main .main_right .box .form .btn:hover{
	background: #449D44;
}

.main .main_left .main_left_class01:hover{
	background: #449D44;
}
.main .main_left .main_left_class02:hover{
	background: #449D44;
}
.main .main_left .main_left_class03:hover{
	background: #449D44;
}


